/* ---Styling four-0-four-image--- */
.four-0-four-image {
    display: block;
    margin: 60px auto;
}

/* ---Styling four-0-four-image--- */
.four-0-four-msg {
    text-align: center;
    text-transform: capitalize;
    color: #383838;
}

/* ---Styling four-0-four-image a tag--- */
.four-0-four-msg a {
    color: #383838;
}
